---
import Layout from '../layouts/Layout.astro';
import Portada from '../components/Portada.astro';
import Intro from '../components/Intro.astro';
import Preefooter from '../components/Preefooter.astro';
import Contact from '../components/Contact.astro';
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
import Ver from '../components/Ver.astro';
// import PostIntro from '../components/PostIntro.astro';

---

<Layout 
	title="Premios LUMINY 2024 - Celebrando lo mejor del streaming y los creadores de contenido en Peru"
	description="Descubre a los mejores creadores de contenido de Perú, ¡Vota por tus favoritos! Y disfruta de el talento de los creadores de contenido de Twitch, Youtube y más"
>
	<Portada/>
	<Ver/>
	<main>
		<Intro/>
		<!-- <PostIntro/> -->
		<Contact/>
		<Gallery/>
		<Preefooter/>
	</main>
	<Footer/>
</Layout>

<style></style>
