---
import Layout from '../layouts/Layout.astro';
import Portada from '../components/Portada.astro';
import Intro from '../components/Intro.astro';
import Preefooter from '../components/Preefooter.astro';
import Contact from '../components/Contact.astro';
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
import Ver from '../components/Ver.astro';

import { getI18N } from '../i18n/'

const { currentLocale } = Astro 
const i18n = getI18N({ currentLocale })

---

<Layout 
	title={i18n.SEO_TITLE}
	description={i18n.SEO_DESCRIPTION}
>
	<Portada/>
	<Ver/>
	<main>
		<Intro/>
		<!-- <PostIntro/> -->
		<Contact/>
		<Gallery/>
		<Preefooter/>
	</main>
	<Footer/>
</Layout>

<style></style>
