---
import GitHubLogo from '../../public/icons/GitHubLogo.astro'
import InstagramLogo from '../../public/icons/InstagramLogo.astro'
import TiktokLogo from '../../public/icons/TiktokLogo.astro'
import TwitchLogo from '../../public/icons/TwitchLogo.astro'
import XLogo from '../../public/icons/XLogo.astro'
import YoutubeLogo from '../../public/icons/YoutubeLogo.astro'
---

<footer class="bg-gradient-to-r bg-white w-full h-[400px] items-center flex justify-center ">
    <div class="grid grid-cols-3 max-w-6xl mx-auto items-center">
        <div class="flex gap-4 m-auto items-center">
            <a href="/" class="justify-self-center">
                <svg class="w-[80px] h-[80px]" viewBox="0 0 23 32" color="black" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M21.1018 8.3122C20.668 7.05131 20.0687 5.85307 19.3546 4.72918C18.2426 2.65613 15.6933 0 15.3448 0C14.9937 0 15.301 2.43422 15.8277 3.80606C12.9307 4.69106 11.3066 5.84175 11.2628 6.72713C11.219 7.61251 13.6332 8.63035 15.8714 8.49751C16.6616 10.666 14.8081 14.9371 14.8081 14.9371L14.6846 15.1744C13.8828 15.2903 12.9692 15.3024 11.9208 15.1805C3.93272 14.2506 0.772583 18.1453 0.904333 18.5439C1.03608 18.942 3.18675 18.1453 3.23055 19.0749C3.27434 20.0044 2.26488 22.7481 2.70392 25.9348C3.14296 29.1212 4.67905 31.9094 5.16188 31.9981C5.38197 32.0385 6.01639 31.0961 6.66691 29.6748L6.78031 29.8511C6.78031 29.8511 8.40997 31.9996 9.15631 31.9996C9.90227 31.9996 10.1557 27.0097 8.92649 23.9557L8.71914 23.4817C8.71914 23.4817 10.9941 23.0911 14.0984 25.0015C14.0984 25.0015 12.6817 31.9985 13.5157 31.9985C14.3496 31.9985 15.8636 30.1477 15.8636 30.1477L15.9965 30.0058C16.528 31.2018 17.0696 32 17.3637 32C17.9899 31.9992 25.6973 21.6702 21.1018 8.3122Z" fill="currentColor"></path></svg>

            </a>
            <h2 style="font-family: 'Playfair Display'; color: black; font-size: 40px; font-weight: 800;">
                LUMINY
                <br>
                AWARDS
            <h2/>
        </div>

        <div class="text-black text-1xl justify-center items-center">
            <a href="/">
                <h3 class="m-5 font-semibold hover:text-golden  hover:underline">
                    Inicio
                </h3>
            </a>
            <a href="#">
                <h3 class="m-5 font-semibold hover:text-golden  hover:underline" >
                    Los premios
                </h3>
            </a>

            <a href="#">
                <h3 class="m-5 font-semibold hover:text-golden  hover:underline">
                    Términos y condiciones
                </h3>
            </a>
            
        </div>

        <div class="text-black text-1xl justify-center items-center">
            <a href="#">
                <h3 class="m-5 font-semibold hover:text-golden hover:underline">
                    Nominados
                </h3>
            </a>
              
            <a href="#">
                <h3 class="m-5 font-semibold hover:text-golden hover:underline">
                    Politicas de privacidad
                    
                </h3>  
            </a>

            <div class="grid grid-cols-6 ml-5">
                <a href="https://github.com/adonis-og/luminy-web" target="_blank">
                    <GitHubLogo/>  
                </a>
                <a href="https://www.instagram.com/luminy.awards" target="_blank">
                    <InstagramLogo/>
                </a>
                <a href="https://www.tiktok.com/@luminy.awards" target="_blank">
                    <TiktokLogo/>
                </a>
                <a href="https://www.twitch.tv/elzeein" target="_blank">
                    <TwitchLogo/>
                </a>
                <a href="https://twitter.com/PremiosLuminy" target="_blank">
                    <XLogo/>
                </a>
                <a href="https://www.youtube.com/@Luminy.Awards" target="_blank">
                    <YoutubeLogo/>
                </a>
            </div> 
        </div>
        <hr class=" col-span-3 border rounded-sm mt-10 border-black"/>

        <div class="col-span-2 mt-5">
            <p class="text-black tracking-wide font-thin text-sm">
                © 2024, The Luminy Awards. Todos los derechos reservados.
            </p>
            <p class="text-black tracking-wide font-whin text-sm">
                Esta no es la web oficial, desarrollada por @adonys- para fines educativos
            </p>
        </div>
    </div>
</footer>