---
import BentoItem from "./BentoItem.astro";
---

<section
  class={`
    w-full max-w-[1400px]
    grid grid-cols-10 auto-rows-[20rem] gap-4
    mx-auto p-20`}
>
    <BentoItem class="col-span-10 md:col-span-3" title="">

        <div slot="image"
        class="absolute left-0 top-0 bottom-0 object-cover object-center 
        h-full w-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
        style="background-image: url('/photo1.webp');">
        </div>

    </BentoItem> 

    <BentoItem
        class="col-span-10 md:col-span-2 bg-slate-600"
        title="Mira la transmisión completa">
        <div slot="content">
            <a href="https://www.youtube.com/" class="bg-red-600 p-3 rounded-lg flex justify-center">
                <svg class="h-6 w-auto" viewBox="0 0 256 180" width="256" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134Z" fill="red"/><path fill="#FFF" d="m102.421 128.06 66.328-38.418-66.328-38.418z"/></svg>
            </a> 
        </div>
    </BentoItem> 

    <BentoItem class="col-span-10 md:col-span-5" title="" >
        <div slot="image"
        class="absolute left-0 top-0 bottom-0 object-cover object-center 
        h-full w-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat  -z-10"
        style="background-image: url('/photo5.webp');">
        </div>
    </BentoItem> 

    <!-- SEPARATOR -->
    <BentoItem class="col-span-10 md:col-span-5" title="" >
        <div slot="image"
        class="absolute left-0 top-0 bottom-0 object-cover object-center 
        h-full w-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat  -z-10"
        style="background-image: url('/photo6.webp');">
        </div>    
    </BentoItem> 

    <BentoItem class="col-span-10 md:col-span-2 bg-yellow-200" title="#Los Ganadores de la Primera Edición" >
           
    </BentoItem> 

    <!-- SEPARATOR -->
    <BentoItem class="col-span-10 md:col-span-3  h-[615px]" title="" >
        <div slot="image"
        class="absolute left-0 top-0 bottom-0 object-cover object-center 
        h-full w-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat  -z-10"
        style="background-image: url('/photo3.webp');">
        </div> 
    </BentoItem> 

    <BentoItem class="col-span-10 md:col-span-3" title="" >
        <div slot="image"
        class="absolute left-0 top-0 bottom-0 object-cover object-center 
        h-full w-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat  -z-10"
        style="background-image: url('/photo7.webp');">
        </div>    
    </BentoItem> 

    <!-- SEPARATOR -->
    <BentoItem class="col-span-10 md:col-span-4" title="" >
        <div slot="image"
        class="absolute left-0 top-0 bottom-0 object-cover object-center 
        h-full w-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat  -z-10"
        style="background-image: url('/photo2.webp');">
        </div>    
    </BentoItem> 

</section>
