---
import '@fontsource/playfair-display'
import Logo from './Logo.astro'
import HeaderLink from './HeaderLink.astro'

---

<header id="header-nav" class="fixed w-screen py-4 z-50 top-0 px-8 lg:px-0">
    <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
        <div class="col-span-1 flex  gap-4">
            <HeaderLink
                checkActive={false}
                href="/"
                class="relative z-10"
            >

                <Logo class="absolute w-10 m-auto blur-sm opacity-0 transition-opacity duration-300 hover:opacity-100"/>

            </HeaderLink>
            <h2 style="font-family: 'Playfair Display'; color: white; font-size: 20px;">
                LUMINY
                <br>
                AWARDS
            <h2/>
        </div>
        <style>
            .menu-link:hover {
                filter: brightness(1.5); /* Ajusta el valor para cambiar la intensidad de la iluminación */
            }
        </style>
        <nav class="col-span-1 justify-self-center">
            <ul class="flex gap-4">
                <li>
                    <a class="menu-link hover:underline" href="#"> Inicio </a>
                </li>
                <li>
                    <a class="menu-link hover:underline" href="#"> Los premios </a>
                </li>
                <li>
                    <a class="menu-link hover:underline" href="#"> Nominados </a>
                </li>
            </ul>
        </nav>
        <HeaderLink
                checkActive={false}
                href="/"
                class="relative z-10 justify-self-end"
            >

                <Logo class="absolute w-10 m-auto blur-sm opacity-0 transition-opacity duration-300 hover:opacity-100"/>

            </HeaderLink>
    </div>
</header>