---
import Rhombus from "../components/Rhombus.astro";
import PostIntro from "./PostIntro.astro";
---

<article class="grid place-content-center mt-20">
  <section class="relative">
    <div class="flex flex-wrap items-center justify-center">
      <Rhombus
        src="/intropic1.webp"
      />
      <Rhombus
        src="/intropic3.webp"
      />
      <Rhombus
        src="/intropic2.webp"
      />
    </div>
    <div class="flex flex-wrap items-center justify-center -mt-[135px] max-sm">
      <Rhombus
        src="/intropic4.webp"
      />
      <Rhombus
        src="/intropic5.webp"
      />
    </div>
    <div
      class="absolute w-20 h-20 rotate-45 bg-[#30D8D2]
        border-black bottom-40 left-10 top-[250px]"
    >
    </div>
    <div
      class="absolute w-20 h-20 rotate-45 bg-[#E7C581]
        border-black bottom-40 right-10 top-[250px]"
    >
    </div>
    
    <div class="flex items-center justify-center mt-10">
        <img class="absolute" alt="Separador"
        src="/Separator.webp"/>
    </div>
  </section>

  <PostIntro/>

</article>
