<div 
    style="background-image: url(/BannerPort.webp);"
    class="relative w-full h-screen bg-no-repeat bg-cover object-center bottom-5 animate-fade animate-duration-1000 animate-ease-in-out"> <!-- Use of Tailwind Animated -->
    
    <img class="absolute left-0 right-0 m-auto bottom-1/2 top-1/2 w-[500px] h-[700px] object-cover z-10" alt="Logo de los premios Luminy" src="/LlamaLuminy.webp" />
    <img class="absolute left-0 right-0 m-auto bottom-1/2 top-1/2 w-[650px] h-auto object-cover z-20" alt="Logo claro luminys" src="/ClaroLuminy.webp" />


</div>