<section class="text-xl text-left px-20 max-w-[80ch] text-pretty mx-auto my-24">
    <h1 class="text-5xl text-center text-wrap mx-auto tracking-wide">
        <p><strong class="font-bold">EL EVENTO MÁS IMPORTANTE DE PREMIOS</strong> A CREADORES DE CONTENIDO DEL PERÚ</p>
    <h1/>
</section>