<section class="relative flex flex-row inset-0 justify-center w-auto h-auto z-30">
    <div class="grid grid-cols-5 bg-black text-2xl pl-10  items-center -mt-8 h-auto ">
        <p class="text-white tracking-normal mt-5 font-semibold col-span-3">Mira el evento en vivo en:</p>
 
        <a href="https://www.twitch.tv/" class="p-10 flex justify-center" style="background-color: rgb(100, 12, 245);;">
            <svg class="h-6 w-auto" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="Layer_1" x="0" y="0" style="enable-background:new 0 0 2400 2800" version="1.1" viewBox="0 0 2400 2800"><style>.st1{fill:#9146ff}</style><path d="m2200 1300-400 400h-400l-350 350v-350H600V200h1600z" style="fill:#fff"/><g id="Layer_1-2"><path d="M500 0 0 500v1800h600v500l500-500h400l900-900V0H500zm1700 1300-400 400h-400l-350 350v-350H600V200h1600v1100z" class="st1"/><path d="M1700 550h200v600h-200zM1150 550h200v600h-200z" class="st1"/></g></svg>
        </a>

        <a href="https://www.youtube.com/" class="bg-red-600 p-10 flex justify-center">
            <svg class="h-6 w-auto" viewBox="0 0 256 180" width="256" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134Z" fill="red"/><path fill="#FFF" d="m102.421 128.06 66.328-38.418-66.328-38.418z"/></svg>
        </a>  

      </div>
</section>